<turboRender module="About" />
<style>
    .page-wrapper {
        padding-top: 0;
    }
</style>
<div class="panel-wrapper collapse in">
    <div class="row">
        <div id="carousel" class="full-width full-height carousel-full"></div>
    </div>
    <div class="row section2 full-height ">
        <!-- <div class="table-struct full-width full-height">
            <div class="table-cell vertical-align-middle">
                <div class="auth-form  ml-auto mr-auto no-float">
                    <div class="panel panel-default card-view mb-0">
                        <div class="panel-heading">
                            <div class="pull-left">
                                <h6 class="panel-title txt-dark">Title</h6>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-wrapper collapse in">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-12 col-xs-12">
                                        Bienvenido
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

        <div class="col-sm-12 card-view">
            <div class="collapse in">
                <div class="panel-body">
                    <h2 class="mb-20" style="text-align: center;">Why us?</h2>
                    <p class="g4 mb-20">
                        We deliver a excelent service with the best people in the industry and with an advance technology that let you manage all your services, it's just a simple as a few clicks. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras at luctus diam.
                        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In sapien nisl, consequat at dui sit amet, feugiat facilisis massa. Sed vitae gravida enim, id fermentum nulla. Duis condimentum, lorem
                        sit amet molestie euismod, quam turpis maximus eros, nec porttitor justo dui non ex. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris vulputate odio sed mauris luctus, ac scelerisque
                        felis faucibus. Nam convallis justo odio, a sollicitudin diam convallis eget. Etiam id viverra justo. Nulla hendrerit turpis ligula, ac ultricies neque tempor vel. Mauris vitae augue et enim egestas maximus. Duis sollicitudin justo
                        sed lectus pellentesque, eu vestibulum turpis maximus. Maecenas fringilla justo eget tortor vestibulum, ut facilisis ex interdum. Nunc tempus sapien ipsum, vitae mattis sapien gravida id. Pellentesque sed sapien arcu. Cras interdum
                        tortor sed mauris feugiat tempus at ut massa. Ut euismod dictum felis in bibendum. Vestibulum sodales, lectus eget pulvinar imperdiet, neque nisi viverra velit, sed bibendum metus massa a justo. Ut vel neque ac massa pulvinar fringilla.
                        Nam id vestibulum erat. Etiam iaculis lobortis magna a interdum. Vivamus eget magna vehicula, luctus sapien blandit, maximus ex. Donec tincidunt, lectus a iaculis placerat, sapien tortor auctor elit, vitae convallis lectus tellus
                        faucibus nunc. Integer pulvinar pellentesque pulvinar. Aliquam tristique ut tellus ac auctor. Nulla pellentesque efficitur sem et tincidunt. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                        Praesent interdum euismod tortor at fringilla. Quisque ut sem ligula. In quis ante pulvinar, vehicula dolor id, iaculis nisi. Nullam a diam eget magna sodales sagittis at eget enim. Duis nec lacinia sem. Vivamus ac vulputate nibh.
                        Integer scelerisque rhoncus rhoncus. Vivamus eu purus placerat, dapibus nisl id, porta diam. Cras maximus nulla sit amet aliquam auctor. Duis eget metus id nulla maximus ullamcorper quis eu arcu. Etiam a urna eleifend, venenatis
                        risus id, dapibus felis. Nullam porta nec mauris vel ultrices. Maecenas volutpat, lorem quis eleifend venenatis, nunc neque vestibulum urna, sit amet eleifend est orci a erat. Praesent dolor elit, maximus sed placerat vitae, tincidunt
                        id massa. In ornare nisl vel nunc porta, vel tincidunt ipsum fermentum.
                    </p>
                </div>
            </div>
            <style>
                .app-icon-wrap .connection-item {
                    display: inline-block;
                    padding: 10px 25px;
                    text-align: center;
                    color: #2f2c2c;
                    text-transform: capitalize;
                }

                .app-icon-wrap .connection-item i {
                    font-size: 65px;
                }
            </style>
            <hr class="light-grey-hr" />
            <div class="app-icon-wrap col-md-12">
                <div class="panel panel-default card-view text-center">
                    <div class="connection-item">
                        <i class="fa fa-lock"></i>
                        <span class="block h4 text-capitalize"><%= __('secure') %></span>
                    </div>
                    <div class="connection-item">
                        <i class="fa fa-handshake-o"></i>
                        <span class="block h4 text-capitalize"><%= __('friendly') %><span class="text-lowercase"> <%= __('and') %> </span>
                        <%= __('trustworthy') %>
                            </span>
                    </div>
                    <div class="connection-item">
                        <i class="fa fa-tachometer"></i>
                        <span class="block h4 text-capitalize"><%= __('fast') %></span>
                    </div>
                    <div class="connection-item">
                        <i class="fa fa-money"></i>
                        <span class="block h4 text-capitalize"><%= __('attractive prices') %></span>
                    </div>
                    <div class="connection-item">
                        <i class="fa fa-tachometer"></i>
                        <span class="block h4 text-capitalize"><%= __('cost-effectiveness') %></span>
                    </div>
                    <div class="connection-item">
                        <i class="fa fa-money"></i>
                        <span class="block h4 text-capitalize"><%= __('professional, fully vetted builders cleaners') %></span>
                    </div>
                    <!-- Cost-effectiveness - the accomplished results and time saved when this service is handled by professionals significantly outweighs the cost of the service, itself. -->
                    <!-- Professional, fully vetted builders cleaners - we only work with the finest cleaners Melbourne has to offer in order to keep up high-quality results with every project. We have years of experience in the field, so your after builders cleaning will be in good hands. -->
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="row section3">
    </div> -->
    <div class="row">
        <div class="panel-body pb-0">
            <!-- item -->
            <div class="col-lg-3 col-md-6 col-sm-12 text-center mb-30">
                <div class="panel panel-pricing mb-0">
                    <div class="panel-heading">
                        <i class=" ti-bookmark-alt"></i>
                        <h6>houses</h6>
                        <span class="panel-price"><span class="pricing-dolor">$</span>25
                        <h6 class="inline">/ph</h6></span>
                    </div>
                    <div class="panel-body text-center pl-0 pr-0">
                        <hr class="mb-30" />
                        <ul class="list-group mb-0 text-center">
                            <li class="list-group-item"><i class="fa fa-check"></i> Dusting, Vacuuming, Mopping, Bathroom cleaning, Tidying, Ironing</li>
                            <li>
                                <hr class="mt-5 mb-5" />
                            </li>
                            <li class="list-group-item"><i class="fa fa-check"></i> Washing</li>
                            <li>
                                <hr class="mt-5 mb-5" />
                            </li>
                            <li class="list-group-item"><i class="fa fa-check"></i> Pantry tidying</li>
                            <li>
                                <hr class="mt-5 mb-5" />
                            </li>
                            <li class="list-group-item"><i class="fa fa-check"></i> Window cleaning</li>
                            <li>
                                <hr class="mt-5 mb-5" />
                            </li>
                            <li class="list-group-item"><i class="fa fa-check"></i> Kitchen cleaning</li>
                            <li>
                                <hr class="mt-5 mb-5" />
                            </li>
                            <li class="list-group-item"><i class="fa fa-check"></i> Oven cleaning</li>
                        </ul>
                    </div>
                    <div class="panel-footer pb-35">
                        <a class="btn btn-primary btn-rounded btn-lg" href="#">book now</a>
                    </div>
                </div>
            </div>
            <!-- /item -->
            <!-- item -->
            <div class="col-lg-3 col-md-6 col-sm-12 text-center mb-30">
                <div class="panel panel-pricing mb-0">
                    <div class="panel-heading">
                        <i class="ti-wallet"></i>
                        <h6>bussines</h6>
                        <span class="panel-price"><span class="pricing-dolor">$</span>25
                        <h6 class="inline">/ph</h6></span>
                    </div>
                    <div class="panel-body text-center pl-0 pr-0">
                        <hr class="mb-30" />
                        <ul class="list-group mb-0 text-center">
                            <li class="list-group-item"><i class="fa fa-check"></i> Dusting, Vacuuming, Mopping, Bathroom cleaning, Tidying, Ironing</li>
                            <li>
                                <hr class="mt-5 mb-5" />
                            </li>
                            <li class="list-group-item"><i class="fa fa-check"></i> Window cleaning</li>
                            <li>
                                <hr class="mt-5 mb-5" />
                            </li>
                            <li class="list-group-item"><i class="fa fa-check"></i> Kitchen cleaning</li>
                            <li>
                                <hr class="mt-5 mb-5" />
                            </li>
                            <li class="list-group-item"><i class="fa fa-check"></i> Oven cleaning</li>
                        </ul>
                    </div>
                    <div class="panel-footer pb-35">
                        <a class="btn btn-primary btn-rounded btn-lg" href="#">book now</a>
                    </div>
                </div>
            </div>
            <!-- /item -->
            <!-- item -->
            <div class="col-lg-3 col-md-6 col-sm-12 text-center mb-30">
                <div class="panel panel-pricing mb-0">
                    <div class="panel-heading">
                        <i class=" ti-crown"></i>
                        <h6>offices</h6>
                        <span class="panel-price"><span class="pricing-dolor">$</span>55
                        <h6 class="inline">/ph</h6></span>
                    </div>
                    <div class="panel-body text-center pl-0 pr-0">
                        <hr class="mb-30" />
                        <ul class="list-group mb-0 text-center">
                            <li class="list-group-item"><i class="fa fa-check"></i> Dusting, Vacuuming, Mopping, Bathroom cleaning, Tidying, Ironing</li>
                            <li>
                                <hr class="mt-5 mb-5" />
                            </li>
                            <li class="list-group-item"><i class="fa fa-check"></i> Cleaning and dusting your desks</li>
                            <li>
                                <hr class="mt-5 mb-5" />
                            </li>
                            <li class="list-group-item"><i class="fa fa-check"></i> Disinfecting your phones, printers and other devices that are used by different people throughout the day</li>

                            <li class="list-group-item"><i class="fa fa-check"></i> Cleaning of your cupboards and drawers</li>
                            <li>
                                <hr class="mt-5 mb-5" />
                            </li>
                            <li class="list-group-item"><i class="fa fa-check"></i> Kitchen dusting and cleaning of cupboards</li>
                            <li>
                                <hr class="mt-5 mb-5" />
                            </li>
                            <li class="list-group-item"><i class="fa fa-check"></i> Sink cleaning and disinfecting</li>
                            <li>
                                <hr class="mt-5 mb-5" />
                            </li>
                            <li class="list-group-item"><i class="fa fa-check"></i> Bathrooms and toilet cleaning, disinfecting and deodorizing</li>
                            <li>
                                <hr class="mt-5 mb-5" />
                            </li>
                            <li class="list-group-item"><i class="fa fa-check"></i> Maintain the bathroom the outlets without any blockage and germs</li>
                            <li>
                                <hr class="mt-5 mb-5" />
                            </li>
                            <li class="list-group-item"><i class="fa fa-check"></i> Clean your carpets, windows and doors and maintain them dust free consistently</li>
                            <li>
                                <hr class="mt-5 mb-5" />
                            </li>

                        </ul>
                    </div>
                    <div class="panel-footer pb-35">
                        <a class="btn btn-primary btn-rounded btn-lg" href="#">book now</a>
                    </div>
                </div>
            </div>
            <!-- /item -->
            <!-- item -->
            <div class="col-lg-3 col-md-6 col-sm-12 text-center mb-30">
                <div class="panel panel-pricing mb-0">
                    <div class="panel-heading">
                        <i class=" ti-shield"></i>
                        <h6>constructions</h6>
                        <span class="panel-price panel-price m-t-md m-b-md padder-v"><h2>get a quote</h2></span>
                    </div>
                    <div class="panel-body text-center pl-0 pr-0">
                        <hr class="mb-30" />
                        <ul class="list-group mb-0 text-center">
                            <li class="list-group-item"><i class="fa fa-check"></i> Dusting, Vacuuming, Mopping, Bathroom cleaning, Tidying, Ironing</li>
                            <li>
                                <hr class="mt-5 mb-5" />
                            </li>
                            <li class="list-group-item"><i class="fa fa-check"></i> Diligently cleaning wainscoting, door frames, skirting boards, fixtures, switches, and sockets</li>
                            <li>
                                <hr class="mt-5 mb-5" />
                            </li>
                            <li class="list-group-item"><i class="fa fa-check"></i> Spot clean wall and ceilings</li>
                            <li>
                                <hr class="mt-5 mb-5" />
                            </li>
                            <li class="list-group-item"><i class="fa fa-check"></i> Deliming and descaling any bathroom and kitchen tiles</li>
                            <li>
                                <hr class="mt-5 mb-5" />
                            </li>
                            <li class="list-group-item"><i class="fa fa-check"></i> Deep cleaning toilets, sinks, bathtubs, and showers</li>
                            <li>
                                <hr class="mt-5 mb-5" />
                            </li>
                            <li class="list-group-item"><i class="fa fa-check"></i> Deep cleaning all floors and stairs</li>

                        </ul>
                    </div>
                    <div class="panel-footer pb-35">
                        <a class="btn btn-primary btn-rounded btn-lg" href="#">book now</a>
                    </div>
                </div>
            </div>
            <!-- /item -->

        </div>
    </div>
</div>
